body
{
    background-image: url("../images/backgroundcooker.jpg");   
    background-size: 100% 100%;
    background-color: #cccccc;
    left: 20%;
}
#search
{
    color : red;
}
#pagelinks 
{     
    display:block;
    text-align:center;   
    position: absolute;   
    font-size: 200%;
    background-color: #ff9999;    
    border:#6666ff 2px solid;
    border-radius: 5px;
}
#searchbutton
{    
    display:inline;
    text-align:center;    
}
a:link
{
    color:black ;
}
a:visited
{
    color:black;
}
a:hover
{
    color:blue;
}
#mainpagerecipes
{
    text-align: center;
    padding: 1%;
    display: inline-block;
    background-color:  blue;
    opacity: 0.8;
}
#mainpagerecipes p
{
    position: absolute;
    top: 0;
    left: 0;
    color:red;
}